.launchDetailsWrap{
    padding: 100px 0;
}
.launchDetailsWrap > div > div > h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 325ms;
    animation-delay: 200ms;
}

.launchDetailsWrap > div > a{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    display: block;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2rem;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 325ms;
    animation-delay: 100ms;
}

.launchDetailsWrap > div > a > svg{
    transition: all .325s cubic-bezier(0.4, 0, 0.2, 1);
}

.launchDetailsWrap > div > a:hover > svg{
    margin-right: 10px;
}

.btnsWrap > a{
    background-color: #000 !important;
    font-weight: 900;
    outline: 3px solid #fff;
    border-radius: 0;
    transition: all .325s cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    line-height: 1;
    padding: 15px 20px;
    margin: 1rem 25px 1rem 3px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 325ms;
}
.btnsWrap > a:first-child{
    animation-delay: 600ms;
}
.btnsWrap > a:last-child{
    animation-delay: 700ms;
}
.btnsWrap > a::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 110%;
    width: 100%;
    background: #fff;
    transform: scaleY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: bottom;
    z-index: -1;
    line-height: 1;
}
.btnsWrap > a:hover,
.btnsWrap > a:focus{
    color: #000;
}
.btnsWrap > a:hover:after,
.btnsWrap > a:focus:after {
  transform: scaleY(1);
}

.launchDetailsWrap > div > div > h1 .favourite{
    color: #fff;
    transition: all 0.325s cubic-bezier(0.4, 0, 0.2, 1);
}
.launchDetailsWrap > div > div > h1 .favourite:hover{
    color: rgb(124, 0, 0);
}
.launchDetailsWrap > div > div > h1 .favourite.selected{
    color: rgb(124, 0, 0);
}
.launchDetailsWrap > div > div > h1 .favourite > svg{
    pointer-events: none;
}
.launchDetailsWrap > div > div > h3{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 325ms;
    animation-delay: 300ms;
}
.launchDetailsWrap > div > div > h2{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 325ms;
    animation-delay: 400ms;
}
.launchDetailsWrap > div > div > p{
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 325ms;
    animation-delay: 500ms;
}

@media only screen and (max-width: 678px) {
    .launchDetailsWrap > div > div > h1{
        font-size: 2rem;
    }   
    .launchDetailsWrap > div > div > h3{
        font-size: 1.875rem;
    }   
    .launchDetailsWrap > div > div > h2,
    .launchDetailsWrap > div > div > h2 > span{
        font-size: 1.275rem;
    }  
    .launchDetailsWrap > div > div > p{
        font-size: 1rem;
    } 
}

@media only screen and (max-width: 578px) {
    .launchDetailsWrap > div > div > h1{
       position: relative;
    }
    .launchDetailsWrap > div > div > h1 > .favourite{
        position: absolute;
        top: -50px;
        right: 15px;
    }
    .btnsWrap{
        flex-direction: column;
    }
    .btnsWrap > a{
        width: calc(100% - 40px);
        text-align: center;
    }
}


@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}