.app_logo{
    position: absolute;
    top: 15px;
    left: 15px;
    fill: #fff;
    width: 250px;
    height: auto;
    transition: all .325s ease-in-out;
    z-index: 1000;
    padding: 1rem  0 0 3rem;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 325ms;
    animation-delay: 150ms;
}

.app_logo:hover{
    transform: scale(1.1);
    transform-origin: left center;
}

@media only screen and (max-width: 678px) {
    .app_logo{
        width: 200px;
        padding: 1rem  0 0 1rem;
    }
}
@media only screen and (max-width: 420px) {
    .app_logo{
        width: 150px;
    }
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
}